<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ... Other head elements ... -->
    <title>Video Upload</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">

<!-- Main container with grid layout -->
<div class="container mx-auto p-6 grid grid-cols-1 md:grid-cols-3 gap-4 items-start">
    <!-- Box 1: Form for video upload -->
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8">
        <form id="upload-form">
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="video-file">
                    Choose a video
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="file" id="video-file" name="video" accept="video/*" required>
            </div>
            <div class="flex items-center justify-between">
                <button id="preview-btn" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                    Preview Video
                </button>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                    Upload Video
                </button>
            </div>
        </form>
    </div>

    <!-- Box 2: Video player -->
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 flex justify-center items-center">

        <!-- Video will be inserted here upon file selection -->
        <div id="video-container" class="hidden rounded w-full">
            <video id="videoPlayer" muted loop class="rounded w-full" controls></video>

        </div>

        <p class="text-sm text-gray-600 italic">Your video will appear here.</p>
    </div>

    <!-- Box 3: Container for response messages -->
    <div id="upload-response" class="bg-white shadow-md rounded px-8 pt-6 pb-8">
    </div>
    <div id="response-images" class="bg-white shadow-md rounded px-8 pt-6 pb-8">
        
    </div>

</div>

    <script>
     document.addEventListener('DOMContentLoaded', function() {
    var previewBtn = document.getElementById('preview-btn');
    var uploadForm = document.getElementById('upload-form');
    var videoPlayer = document.getElementById('videoPlayer');
    var videoContainer = document.getElementById('video-container');
    var videoFileInput = document.getElementById('video-file');
    // Create an img element

    var videoFile;

    // Event listener for the Preview button
    previewBtn.addEventListener('click', function() {
        var files = videoFileInput.files;
        if (files.length > 0) {
            videoFile = files[0];
            var videoUrl = URL.createObjectURL(videoFile);
            videoContainer.classList.remove('hidden');
            videoPlayer.src = videoUrl;
            videoPlayer.load();
            videoPlayer.play();
        }
    });

    // Event listener for the upload form submission
    uploadForm.addEventListener('submit', function(event) {
        event.preventDefault();
        // You should now already have the video file from the preview button event
        var formData = new FormData(uploadForm);
        formData.append('video', videoFile);

        // Make an AJAX POST request to the Flask backend
        fetch('/upload', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            // Handle response here
            console.log('Success:', data.feedback);
            // Iterate over each base64 string in data.selected_frames
            data.selected_frames.forEach((base64_string, index) => {
            var img = document.createElement('img');
            img.src = 'data:image/jpeg;base64,' + base64_string;
            img.className = 'm-4 shadow-lg max-w-xs';

            // Create a new paragraph element for the feedback
            var feedback = document.createElement('p');
            // Set the text content to the feedback associated with the current image
            feedback.textContent = data.feedback[0]['image_' + (index + 1)];
            feedback.className = 'font-bold text-lg';

            // Append the img and feedback elements to the upload-response div
            var responseImages = document.getElementById('response-images');
            responseImages.appendChild(img);
            responseImages.appendChild(feedback);
        });
            
        })
        .catch(error => {
            console.error('Error:', error);
        });
        // After uploading, you might want to revoke the object URL to clean up
        URL.revokeObjectURL(videoPlayer.src);
    });
});
    </script>


</body>
</html>